
body{
  margin: 0px;

}
.top{
  background-image: url(images/Space-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 height: 109vh;
  margin-bottom: -2%;
  padding-right: 5%;
  padding-left: 1%;
} 

.logo{
  height: 80px;
  width: auto;
  float: left;
  margin-top: 10px;
}
.logo2{
  height: 80px;
  width: auto;
  float: left;
  margin-top: 10px;
 
}
#logo3{
  -webkit-animation: action 1s infinite  alternate;
      animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
  @keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
.main-nav{
  float: right;
  margin-top: 17px;
}
.main-nav li{
  display: inline-block;
  list-style: none;
  margin-left: 40px;
  font-size: 18px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #FF9100;
}
.main-nav li a{
  display: inline-block;
  list-style: none;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 90%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #FF9100;
  font-weight: 100px;
}
.main-nav li a:active{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: white;
  border-bottom: 2px solid white;
}
.main-nav li a:hover{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: white;
  border-bottom: 2px solid white;
}

.main-content-header{
  width: 1180px;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -20%);
}
h1{
  
  font-size: 240%;
  margin-bottom: 10px;
}
section{
  height: 500px;   
  padding-bottom: 130px;
}
.work{
 background-color: black;
 height: 100vh;
 margin-bottom: -2%;
}
.width{
  width: 26%;
  float: left;
  padding-top: 9%;
  padding-left: 5%;
 
}
.work img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #FF9100;
}

.ct{
  background-color:  #FF9100;
  height: 150vh;
  margin-bottom: -2%;
 }

 .ct img{

  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px black;
}


.wd{
  background-color: black ;
  height: 70vh;
 }

 .wd .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #FF9100;
}


.wd1{
  background-color: white ;
  height: 60vh;
 }

 .wd1 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd1 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px black;
}


.wd2{
  background-color: black ;
  height: 83vh;
 }

 .wd2 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd2 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #FF9100;
}



.wd3{
  background-color: white ;
  height: 82vh;
 }

 .wd3 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd3 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px black;
}



.wd4{
  background-color: black ;
  height: 56vh;
 }

 .wd4 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd4 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #FF9100;
}


.wd5{
  background-color: white ;
  height: 96vh;
 }

 .wd5 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .wd5 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px black;
}


.wd6{
  background-color: black ;
  height: 85vh;
  margin-bottom: -2%;
 }

 .wd6 .width{
  width: 40%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }  

 .wd6 img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #FF9100;
}


.bg{
  background-color: white ;
  height: 100vh;
  margin-bottom: -2%;
 }

 .bg .width{
  width: 41%;
  float: left;
  padding-top: 6%;
  padding-left: 6%;
 }

 .bg img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px  black;
}


.cu{
  background-color: black ;
  height: 112vh;
  margin-bottom: -4%;
 }

 .cu .width{
  width: 41%;
  float: left;
  padding-top: 6%;
  padding-left: 9%;
 }

 .cu img{
  width: 60%;
  border-radius: 5px;

}

.cu .ig{
  width: 10%;
  border-radius: 5px;
}



/* developed by MD NAYEEM HOSSAIN*/
/* media queriw and responsive*/

@media only screen and (max-width: 880px) {
  /* For mobile phones: */
 
  .work .ct .wd .wd1 .wd2 .wd3 .wd4 .wd5 .wd6 .cu .width{
   float: left;
   width: 100%;
   margin-left: 9%;
   margin-bottom: -2%;

  }
  .ct{
    margin-top: -8%;
    padding-left: 6%;
    height: 520px;
  }
.wd{
  margin-top: -8%;
  padding-left: 6%;
    height: 500px;
    font-size: 20px;
}
.wd p{
font-size: 1px;
display: fixed;
}
.wd1{
  padding-left: 6%;
    height: 500px;
}
.wd2{
  padding-left: 6%;
    height: 500px;
}
.wd3{
  padding-left: 6%;
    height: 500px;
}
.wd4{
  padding-left: 6%;
    height: 500px;
}
.wd5{
  padding-left: 6%;
    height: 500px;
}
.wd6{
  padding-left: 6%;
    height: 500px;
}
.bg{
  padding-left: 6%;
    height: 500px;
}


  .width img{
    width: 100%;
    float: center;
 
   }
  .cu {
    height: 440px;
    padding-right: 22%;
    margin-bottom: -4%;
    width:100%;
  }
  .work{
    margin-top: -8%;
    padding-left: 6%;
    height: 500px;
  }
  .wd6{


  padding-left: 7%;
  width:100%;
  }
  .wd5{
    padding-left: 1%;
    width: 105%;
    font-size: 13px;
    display: flexbox;
  }
  footer p{
    width: 100%;
  }
  body{
   
   width: 100%;
  }
  .main-content-header{
   
   padding-top: 40%; 
   width: 100%;
   padding-left: 18%;
  }
  .logo{
    height: 100px;
    width: auto;
    float: center;
    margin-top: 10px;
    margin-left: 9%;
  }
  .main-nav li{
    display: block;
    list-style: none;
    margin-left: 40px;
    font-size: 18px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #FF9100;
    
  }
  .top{
     height: 800px;
  }
  .fl{
    padding-left: 100%;
  }
}